*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: white;
    display: flex;
    justify-content: center;
    text-align: center;

}

.appBox {
    margin-top: 10px;
    background: gainsboro;
    width: 600px;
    height: 800px;
    border-radius: 10px;
}

.control-A {
    width: 300px;
    height: 27px;
    margin-top: 15px;
    border: none;
    margin-right: auto;
    padding: 4px;
    border-radius: 3px;
    outline: none;
}

.control-B{
    width: 300px;
    height: 27px;
    border: none;
    padding: 4px;
    border-radius: 3px;
    outline: none;
}

.incomeBtn{
    margin-top: 9px;
    width: 140px;
    height: 30px;
    font-weight: bold;
    background-color: rgb(72, 232, 72);
    box-shadow: 1px 1px 1px;
    margin-right: auto;
    margin-left: auto;
    border: none;
}

.expenseBtn{
    margin-top: 9px;
    width: 140px;
    height: 30px;
    font-weight: bold;
    background-color: red;
    box-shadow: 1px 1px 1px;
    border: none;
}

.expenseBtn:hover{
    transform: scale(1.1);
    transition: 0s;
}

.incomeBtn:hover{
    transform: scale(1.1);
    transition: 0s;
}

.table{
    margin-top: 1px;
    width: 553px;
}

table, thead, tr, tbody, td{
border: solid 3px;
text-align: left;
background-color: whitesmoke;
margin-left: auto;
margin-right: auto;
}


.display h3{
    margin-left: 20px;
    font-weight: bold;
}

.display a{
    font-weight: bold;
    margin-top: 36px;
}

.title{
    font-weight: bold;
    font-size: 30px;
}

.display{
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: solid 4px black;
    width: 550px;
    padding: 3px;
}

.transcation{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.clearbutton button{
    margin-top: 15px;
    width: 190px;
    height: 45px;
    background: blue;
    color: aliceblue;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    float: right;
    margin-right: 30px;
}

.clearbutton button:hover{
    transform: scale(1.1);
    transition: 0s;
    background: white;
    color: black;
}

.tableData{
    height: 300px;
    overflow-y: scroll;
}
